<checkbox [(ngModel)]="toppings.pepperoni">Pepperoni</checkbox>
<checkbox [(ngModel)]="toppings.extracheese">Extra Cheese</checkbox>
<checkbox [(ngModel)]="toppings.mushrooms">Mushrooms</checkbox>

<p></p>

<div style="font-weight: bold;">You chose:</div>

<p></p>

<div>Pepperoni = <span style="font-weight: bold;">{{toppings.pepperoni}}</span></div>
<div>Extra Cheese = <span style="font-weight: bold;">{{toppings.extracheese}}</span></div>
<div>Mushrooms = <span style="font-weight: bold;">{{toppings.mushrooms}}</span></div>